.search {
    padding: 10px 13px;
    border-radius: 40px 0px 0px 40px;
    border: 1px solid rgba(128, 128, 128, 0.26);
    background: transparent;
    width: 538px;
    margin-top: 5px;
    color: white;
    font-size: 16px;
    margin-left: 151px;
}
.search:focus {
    outline-style: solid;
    outline-color: #2f8dc7;
    padding: 9px 13px;
}

.Lupa {
    width: 21px;
    margin-top: 5px;
}
.search + button {
    margin-top: 5px;
    padding: 4.5px 20px;
    background: rgba(211, 211, 211, 0.11);
    border-radius: 0px 150px 150px 0px;
    border: 1px solid rgba(128, 128, 128, 0.26);
    border-left-width: 0px;
}
.buttonMicrophone {
    background: rgba(211, 211, 211, 0.11);
    margin-left: 15px;
    padding: 9px 10px;
    margin-top: 6px;
}
.Microphone {
    width: 18px;
    
}
.search::placeholder {
    font-size: 16px;
    font-weight: 400;
}
