.divLogin {
    margin-top: 5px;
    border: 1px solid rgba(128, 128, 128, 0.459);
    padding: 5px 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    width: 110px;
}

.divLogin:hover {
    background: #263850;
    cursor: pointer;
}

.Profile {
    width: 25px;
    margin-right: 5px;

}

.Profile + span {
    color: #3ea6e8;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;

}
@media (min-width: 320px) and (max-width: 480px) {
    .divLogin {
        border: none;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        margin-right: 10px;
    }
    .divLogin:hover {
        cursor: none;
        background: none;
    }
    .divLogin:active {
        background: #263850;
        padding: 6px 4px;

    }
    .Profile {
        margin: 0;
    }
 .Profile + span {
    display: none;
 }   
}